@model IEnumerable<Importadora.Models.Cliente>

@{
    ViewData["Title"] = "List";
}


<div class="cont maincont">
    <p><a asp-controller="Cliente" asp-action="Create">Agregar Cliente</a></p>
    <h1><span>Clientes</span></h1>
    <!-- Catalog Items - start -->
    <div class="section-list">
        @foreach (var item in Model)
        {
            <div class="sectls">
                <a href="product.html" class="sectls-img">
                    <img src="~/img/AMG.jpg" alt="">
                </a>
                <div class="sectls-cont">
                    <div class="sectls-ttl-wrap">
                        <p><a href="#">@Html.DisplayFor(modelItem => item.Nombre)</a></p>
                        <h3><a href="product.html">@Html.DisplayFor(modelItem => item.Apellido)</a></h3>
                    </div>
                    <div class="sectls-price-wrap">
                        <p>Correo</p>
                        <p class="sectls-price">@Html.DisplayFor(modelItem => item.Correo)</p>
                    </div>
                    <div class="sectls-qnt-wrap">
                        <p>Dirección</p>
                        <p class="qnt-wrap sectls-qnt">
                            <a href="#" class="qnt-minus sectls-minus">-</a>
                            <input id="quantity" type="text" value="@Html.DisplayFor(modelItem => item.Direccion)">
                            <a href="#" class="qnt-plus sectls-plus">+</a>
                        </p>
                    </div>
                    <div class="sectls-total-wrap">
                        <p>Total</p>
                        <p class="sectls-total">Ciudad: @Html.DisplayFor(modelItem => item.Ciudad)</p>
                    </div>
                </div>
                <div class="sectls-info">
                    <div class="sectls-rating-wrap">
                        <p class="sectls-rating">
                            <i class="fa fa-star-o" title="5"></i><i class="fa fa-star-o" title="4"></i><i class="fa fa-star-o" title="3"></i><i class="fa fa-star-o" title="2"></i><i class="fa fa-star-o" title="1"></i>
                        </p>
                        <p><span class="sectls-rating-count">89</span> reviews</p>
                    </div>
                    <p class="sectls-id">Estado: @Html.DisplayFor(modelItem => item.Estado)</p>
                    <p class="sectls-add">
                        <a href="#">Add to cart</a>
                    </p>
                    <p class="sectls-favorites">
                        <a href="#"></a>
                    </p>
                    <p class="sectls-compare">
                        <a href="#"></a>
                    </p>
                </div>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        }
    </div>
    <!-- Catalog Items - end -->
</div>