@model IEnumerable<ImportadoraModels.Vehiculo>

@{
    ViewData["Title"] = "List";
}

<div class="cont maincont">
    <p><a asp-controller="Vehiculo" asp-action="Create">Agregar Vehiculos</a></p>
    <h1><span>Vehiculos</span></h1>
    <!-- Catalog Items - start -->
    <div class="section-list">
        @foreach (var item in Model)
        {
            <div class="sectls">
                <a href="product.html" class="sectls-img">
                    <img src="~/img/AMG.jpg" alt="">
                </a>
                <div class="sectls-cont">
                    <div class="sectls-ttl-wrap">
                        <p><a href="#">@Html.DisplayFor(modelItem => item.Marca)</a></p>
                        <h3><a href="product.html">@Html.DisplayFor(modelItem => item.Modelo)</a></h3>
                        <p class="sectls-id">Año: @Html.DisplayFor(modelItem => item.Anio)</p>
                    </div>
                    <div class="sectls-qnt-wrap">
                        <p>Quantity</p>
                        <p class="sectls-qnt">@Html.DisplayFor(modelItem => item.Cantidad)</p>
                    </div>
                    <div class="sectls-price-wrap">
                        <p>Price</p>
                        <p class="sectls-price">$@Html.DisplayFor(modelItem => item.Precio)</p>
                    </div>
                </div>
                <div class="sectls-info">
                    <p class="sectls-add">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </p>
                    <p class="sectls-add">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </p>
                    <p class="sectls-add">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </p>
                </div>
            </div>
        }
    </div>
    <!-- Catalog Items - end -->
</div>
